<!doctype html>
<html>
    <title>UiTHack 2020</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    <body>
        <h1>
            Casper The friendly ghost
        </h1>
            <p>
                Yes! You found Casper the friendly ghost site! UiTHack20{casper_is_the_c0olest_of_Gh0st}
            </p>
            <img src="/static/casper_is_friendly.png" width="400">
            <img src="/static/qr_casper.png" width="400" style="visibility: hidden;" >
    </body>
</html>