[Unit]
Description=UiTHack Web4 Server
After=network.target

[Service]
Type=simple
User=unicorn
WorkingDirectory=/srv/web4/src
ExecStart=/home/unicorn/.local/bin/gunicorn -w 4 -b 0.0.0.0:2348 server:app

[Install]
WantedBy=multi-user.target