<!doctype html>
<html>
    <head>
        <title>UiTHack 2020🧑‍💻</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,700,900" rel="stylesheet">
    </head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width: 0;height: 0;">
        <defs>
            <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
            </filter>
        </defs>
        </svg>

        <h1 class="title">
            Mary
            <span class="drop"></span>
            <span class="drop"></span>
            <span class="drop"></span>
            <span class="drop"></span>
            <span class="drop"></span>
        </h1>
    </body>
</html>