body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: Raleway, sans-serif;
	background-color: black;
	color: white;
	background-image: url("/static/skeleton.gif");
}
input {
	margin: 0.5em;
}

.row {
	width: 100%;
}

p, label, h1 {
	background-color: black;
	border-radius: 75%;
}
